@import '../../styles/variables.scss';

.gallery {
   grid-column-gap: 20px;
   grid-row-gap: 20px;
   background-color: $grey-color;
   border-radius: 25px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 5px 70px 30px 70px;
   padding: 20px;
   min-height: 150px;
}

.gallery-modal-close .figure-gallery {
   transition: transform 300ms;
   &:hover {
      transform: scale(1.01);
   }
}
