@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.modify-task {
   display: block;
}

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;

   .modal {
      background: $grey-color;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      position: relative;
      width: 400px;
      margin: 0 20px;

      @include mobile() {
         padding: 15px;
      }

      h2 {
         margin-bottom: 20px;

         @include mobile() {
            margin-bottom: 15px;
            font-size: 20px;
         }
      }

      label {
         display: block;
         margin-bottom: 10px;

         @include mobile() {
            font-size: 12px;
         }

         input,
         textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
         }

         input {
            @include mobile() {
               height: 20px;
            }
         }

         textarea {
            @include mobile() {
               height: 40px;
            }
         }

         .error {
            color: $red-color;
            font-size: 12px;
            margin-top: 5px;
         }

         select {
            margin-left: 15px;

            @include mobile() {
               font-size: 12px;
            }

            &:hover {
               cursor: pointer;
            }
         }
      }

      button {
         background: $main-color;
         color: $white-color;
         padding: 10px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

         @include mobile() {
            font-size: 12px;
         }

         &:disabled {
            background-color: $white-color;
            cursor: not-allowed;
            color: $text-color;
         }
      }

      .close {
         position: absolute;
         top: 10px;
         right: 10px;
         cursor: pointer;
         font-size: 35px;
         opacity: 0.8;
         transition: color 0.2s ease-out, transform 0.2s ease-out;

         @include mobile() {
            font-size: 28px;
         }

         &:hover {
            color: $red-color; // Couleur rouge plus foncée au survol
            transform: scale(1.1); // Faire grossir l'icône au survol
         }
      }
   }
}
